<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.PERSONELVTConnectionString"
            connectionString="Data Source=CAN;Initial Catalog=PERSONELVT;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.PERSONELVTConnectionString1"
            connectionString="Data Source=TANJU\TANJU;Initial Catalog=PERSONELVT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>